.main{
    padding: 15px 0;
    max-width: 1480px;
    width: calc(100% - 100px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color:#505050;
}

.TableProducts{
    margin: 10px auto 0;
    width: 100%;
    padding: 0;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1530px) {

.TableProducts{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
}

@media screen and (max-width: 1160px) {

    .TableProducts{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    }
@media screen and (max-width: 900px) {
    .TableProducts{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 760px) {
    .TableProducts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .TableProducts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .TableProducts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .TableProducts{
        grid-template-columns: 1fr;
    }
}
